#!/bin/bash

# Import envrc from parent directory.
type -t source_up > /dev/null
if [ $? -eq 0 ]; then
  source_up
fi

# SQS queue name
export TUNNEL_QUEUE_NAME="<REQUIRED>"

# AWS region to place SQS
export AWS_DEFAULT_REGION="<REQUIRED>"

#####
# For Logging (below is default properties)
# export CONSOLE_LOG_LEVEL="trace"
# export SLACK_LOG_LEVEL="warn"
# export SLACK_WEBHOOK_URL="SLACK_WEBHOOK_URL"
# export SLACK_USERNAME="Logger"
# export SLACK_CHANNEL="SLACK_CHANNEL_ID"
